<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-8">
                                <h4 class="card-title ">Cartões Cadastrados</h4>
                                <p class="card-category">Lista de cartões usados para as compras</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <button type="button" mat-button class="nav-link" data-toggle="modal"
                                    data-target="#addCartaoModal">
                                    <i class="material-icons">library_add</i> Adicionar
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Bandeira</th>
                                    <th>Faturas</th>
                                    <th class="text-right">Ação</th>
                                </thead>
                                <tbody>
                                    <tr [routerLink]="['/cartoes/1']">
                                        <td>1</td>
                                        <td>Master</td>
                                        <td>Mastercard</td>
                                        <td>3</td>
                                        <td class="text-primary text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr [routerLink]="['/cartoes/1']">
                                        <td>2</td>
                                        <td>Nubank</td>
                                        <td>Mastercard</td>
                                        <td>3</td>
                                        <td class="text-primary text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr [routerLink]="['/cartoes/1']">
                                        <td>3</td>
                                        <td>Digio</td>
                                        <td>Visa</td>
                                        <td>3</td>
                                        <td class="text-primary text-right">
                                            <button mat-raised-button type="button"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Adicionar novo Cartao -->
<div class="modal fade" id="addCartaoModal" tabindex="-1" role="dialog" aria-labelledby="cartaoModalLabel"
    aria-hidden="true">
    <div class="card modal-dialog" role="document">
        <div class="modal-content">
            <div class="card-header card-header-info">
                <i class="material-icons">credit_card</i>
                <h4 class="card-title">Novo Cartao</h4>
                <p class="card-category">Formulário para adicionar novo cartão ao sistema.</p>
            </div>
            <form>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Nome</mat-label>
                                    <input matInput placeholder="Nome">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Bandeira</mat-label>
                                    <input matInput placeholder="Bandeira">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-info">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
