<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Total</p>
                        <h3 class="card-title"><small>R$ </small>1345,0</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i>Referente apenas as faturas
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Pagamentos</p>
                        <h3 class="card-title"><small>R$ </small>700,0</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Até o momento
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Dividas Ativas</p>
                        <h3 class="card-title">
                            2
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Atualizado
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">picture_as_pdf</i>
                        </div>
                        <p class="card-category">Faturas Ativas</p>
                        <h3 class="card-title">3</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Janeiro/2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Cartão nubank</h4>
                                <p class="card-category">Dividas da fatura de Janeiro/2020</p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-category">Total: 135,00 R$</p>
                                <p class="card-category">Recebido: 0,00 R$</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>Comprador</th>
                                <th>Total</th>
                                <th>Pago</th>
                                <th>Restante</th>
                                <th>Ação</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gilson</td>
                                    <td>R$ 74,87</td>
                                    <td>R$ 74,88</td>
                                    <td>R$ 00,01</td>
                                    <td>
                                        <button mat-raised-button type="button"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">done</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Filipe</td>
                                    <td>R$ 26,35</td>
                                    <td>R$ 00,00</td>
                                    <td>R$ 26,35</td>
                                    <td>
                                        <button mat-raised-button type="button"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">done</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>
