<div class="card card-profile">
    <div class="modal fade" id="detalhesModalLancamento" tabindex="-1" role="dialog"
        aria-labelledby="lancamentoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header"> -->
                    <div class="card-avatar">
                        <img class="img" src="../../../assets//img/fatura-modal.png" />
                    </div>
                <!-- </div> -->
                <div class="modal-body">
                    <h6 class="card-category" style="font-size: 11px">12 de Janeiro de 2020, 10:55</h6>
                    <h2 class="card-title">Barbeador - R$ 68,74</h2>
                    <h5 style="font-size: 14px; margin-top: -25px;">Parcela 09/10</h5>
                    <hr>
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>Thiago</td>
                            <td>18,74 R$</td>
                          </tr>
                          <tr>
                            <td>Gilson</td>
                            <td>50,00 R$</td>
                          </tr>
                        </tbody>
                      </table>
                    <hr>
                    <p class="card-description">Nenhuma nota definida.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>