<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="bg-fundo"></div>
            <div class="card" style="width: 20rem;">
                <div class="card-profile">
                    <div class="card-avatar">
                        <img class="img" src="../../assets/img/financas-logo.png" />
                    </div>
                    <div class="card-header">
                        <h5 class="card-title">Controle de Contas</h5>
                    </div>
                    <div class="card-body">
                        <form *ngIf="showForm" [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="row">
                                <!-- Login Input -->
                                <div class="col-md-12">
                                    <app-input-field formControlName="login" uniqueFiled="true" label="Login"
                                        [control]="formulario.get('login')" [showMaxLength]="false">
                                    </app-input-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Password Input -->
                                <div class="col-md-12">
                                    <app-input-field formControlName="password" label="Password" [showMaxLength]="false"
                                        tipo="password" [control]="formulario.get('password')">
                                    </app-input-field>
                                </div>
                            </div>
                            <button *ngIf="!submitte" type="submit" class="btn btn-info pull-center">Entrar</button>
                            <button *ngIf="submitte" type="button" class="btn btn-info pull-center" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Entrando
                            </button>
                        </form>
                    </div>
                    <hr>
                    <div class="card-footer justify-content-center">
                        <a href="#" class="card-link">Esqueceu sua senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
