<div class="card card-profile">
    <div class="modal fade" id="detalhesModalDivida" tabindex="-1" role="dialog"
        aria-labelledby="lancamentoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header"> -->
                    <div class="card-avatar">
                        <img class="img" src="../../../assets/img/divida-modal.png" />
                    </div>
                <!-- </div> -->
                <div class="modal-body">
                    <h6 class="card-category" style="font-size: 11px">12 de Janeiro de 2020, 10:55</h6>
                    <h2 class="card-title">Gilson - R$ 74,87</h2>
                    <h5 class="text-success" style="font-size: 14px; margin-top: -25px;">Paga</h5>
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Pagamentos
                            </th>
                            <th>
                                Data
                            </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>14,87 R$</td>
                            <td>22/02/2020</td>
                          </tr>
                          <tr>
                            <td>60,00 R$</td>
                            <td>28/02/2020</td>
                          </tr>
                        </tbody>
                      </table>
                    <hr>
                    <p class="card-description">Divida da fatura de Janeiro</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
