<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#users" data-toggle="tab">
                                            <i class="material-icons">security</i> Users
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#compradores" data-toggle="tab">
                                            <i class="material-icons">people_alt</i> Compradores
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#adicionar" data-toggle="tab">
                                            <i class="material-icons">library_add</i> Adicionar
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-primary">
                                            <th>Login</th>
                                            <th class="text-center">Acesso</th>
                                            <th>Criado</th>
                                            <th>Verificado</th>
                                            <th class="text-center">Ativo</th>
                                            <th>Id</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    admin@email.com
                                                </td>
                                                <td class="text-center">
                                                    <i class="material-icons">email</i>
                                                </td>
                                                <td>
                                                    26/05/2020
                                                </td>
                                                <td>
                                                    26/05/2020
                                                </td>
                                                <td class="text-center">
                                                    true
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td class="td-actions text-left">
                                                    <button mat-raised-button type="button"
                                                        matTooltip="Editar" matTooltipPosition="above"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        matTooltip="Excluir" matTooltipPosition="above"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>thiago@email.com</td>
                                                <td class="text-center">
                                                    <i class="material-icons">email</i>
                                                </td>
                                                <td>26/05/2020</td>
                                                <td>26/05/2020</td>
                                                <td class="text-center">true</td>
                                                <td>2</td>
                                                <td class="td-actions text-left">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="compradores">
                                <table class="table table-hover">
                                    <thead class="text-primary">
                                        <th>Nome Completo</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Dividas</th>
                                        <th>Creditos</th>
                                        <th>Id</th>
                                        <th>Ação</th>
                                    </thead>
                                    <tbody>
                                        <tr [routerLink]="['/user-comprador/1']">
                                            <td>Thiago Santiago</td>
                                            <td>Thiago</td>
                                            <td>thiago@email.com</td>
                                            <td>R$ 0,00</td>
                                            <td>R$ 50,00</td>
                                            <td>2</td>
                                            <td class="td-actions text-left">
                                                <button mat-raised-button type="button"
                                                    matTooltip="Editar" matTooltipPosition="above"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button"
                                                    matTooltip="Excluir" matTooltipPosition="above"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="adicionar">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Nome</mat-label>
                                                    <input matInput placeholder="Nome" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Sobrenome</mat-label>
                                                    <input matInput placeholder="Sobrenome" type="text">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-radio-group aria-label="Select an option">
                                                    <mat-radio-button value="1">Usuario</mat-radio-button>
                                                    <mat-radio-button checked value="2">Comprador</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-checkbox>Admin</mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Username</mat-label>
                                                    <input matInput placeholder="Username">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-7" style="padding-top: -10px;">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Email</mat-label>
                                                    <input matInput placeholder="Email" type="email">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Senha</mat-label>
                                                    <input matInput placeholder="Senha" type="password">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Confirmar Senha</mat-label>
                                                    <input matInput placeholder="Confirmar Senha" type="password">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button appearance="outline" type="submit"
                                            class="btn btn-info pull-right">Salvar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>