<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#users" data-toggle="tab">
                                            <i class="material-icons">security</i> Users
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#compradores" data-toggle="tab">
                                            <i class="material-icons">people_alt</i> Compradores
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-primary">
                                            <th>
                                                Login
                                            </th>
                                            <th class="text-center">
                                                Acesso
                                            </th>
                                            <th>
                                                Criado
                                            </th>
                                            <th>
                                                Verificado
                                            </th>
                                            <th class="text-center">
                                                Ativo
                                            </th>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Ação
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    admin@email.com
                                                </td>
                                                <td class="text-center">
                                                    <i class="material-icons">email</i>
                                                </td>
                                                <td>
                                                    26/05/2020
                                                </td>
                                                <td>
                                                    26/05/2020
                                                </td>
                                                <td class="text-center">
                                                    true
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td class="td-actions text-left">
                                                    <button mat-raised-button type="button" matTooltip="Edit Task"
                                                        matTooltipPosition="'above'"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button" matTooltip="Remove"
                                                        matTooltipPosition="'above'"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    thiago@email.com
                                                </td>
                                                <td class="text-center">
                                                    <i class="material-icons">email</i>
                                                </td>
                                                <td>
                                                    26/05/2020
                                                </td>
                                                <td>
                                                    26/05/2020
                                                </td>
                                                <td class="text-center">
                                                    true
                                                </td>
                                                <td>
                                                    2
                                                </td>
                                                <td class="td-actions text-left">
                                                    <button mat-raised-button type="button" matTooltip="Edit Task"
                                                        matTooltipPosition="'above'"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button" matTooltip="Remove"
                                                        matTooltipPosition="'above'"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="compradores">
                                <table class="table table-hover">
                                    <thead class="text-primary">
                                        <th>
                                            Nome Completo
                                        </th>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Dividas
                                        </th>
                                        <th>
                                            Creditos
                                        </th>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Ação
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Thiago Santiago
                                            </td>
                                            <td>
                                                Thiago
                                            </td>
                                            <td>
                                                thiago@email.com
                                            </td>
                                            <td>
                                                R$ 0,00
                                            </td>
                                            <td>
                                                R$ 50,00
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td class="td-actions text-left">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    matTooltipPosition="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    matTooltipPosition="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>