<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#cartoes" data-toggle="tab">
                                            <i class="material-icons">filter_none</i> Cartões
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#bandeiras" data-toggle="tab">
                                            <i class="material-icons">flag</i> Bandeiras
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#adicionar" data-toggle="tab">
                                            <i class="material-icons">library_add</i> Adicionar
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="cartoes">
                                <div class="table-responsive">
                                    <table class="table table-hover"
                                    *ngIf="cartoes$ | async as cartoes; else loadingCartoes">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Bandeira</th>
                                            <th>Faturas</th>
                                            <th>Status</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cartao of cartoes">
                                                <td>{{ cartao.id }}</td>
                                                <td>{{ cartao.nome }}</td>
                                                <td>{{ cartao.bandeira.nome }}</td>
                                                <td>{{ cartao.faturas.length }}</td>
                                                <td>{{ cartao.ativo ? 'Ativo' : 'Desabilitado' }}</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        matTooltip="Editar" matTooltipPosition="above"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button" matTooltip="Excluir" matTooltipPosition="above"
                                                        data-toggle="modal" data-target="#detalhesModalAviso"
                                                        matTooltipPosition="above" (click)="onDelete(cartao)"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator [length]="lengthCartoes"
                                        [pageSize]="pageSizeCartoes"
                                        [pageSizeOptions]="[5, 10, 25, 100]"
                                        [pageIndex]="pageIndexCartoes"
                                        (page)="changeListCartoes($event)">
                                    </mat-paginator>
                                </div>
                                <ng-template #loadingCartoes>
                                    <div *ngIf="error$ | async; else loadingNoError">
                                        <div class="row justify-content-center text-danger">
                                            <p>Error ao carregar Cartões. Tente novamente mais tarde.</p>
                                        </div>
                                    </div>
                                    <ng-template #loadingNoError>
                                        <div class="text-center">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Carregando...
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </div>
                            <div class="tab-pane" id="bandeiras">
                                <div class="table-responsive">
                                    <table class="table table-hover"
                                        *ngIf="bandeiras$ | async as bandeiras; else loadingBandeiras">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Criado</th>
                                            <th>Cartões</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let bandeira of bandeiras">
                                                <td>{{ bandeira.id }}</td>
                                                <td>{{ bandeira.nome }}</td>
                                                <td>{{ bandeira.createdAt | date: 'dd/MM/yyyy' }}</td>
                                                <td>{{ bandeira.cartoes.length }}</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button" matTooltip="Excluir"
                                                        data-toggle="modal" data-target="#detalhesModalAviso"
                                                        matTooltipPosition="above" (click)="onDelete(bandeira)"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator [length]="lengthBandeiras"
                                        [pageSize]="pageSizeBandeiras"
                                        [pageSizeOptions]="[5, 10, 25, 100]"
                                        [pageIndex]="pageIndexBandeiras"
                                        (page)="changeListBandeiras($event)">
                                    </mat-paginator>
                                </div>
                                <ng-template #loadingBandeiras>
                                    <div *ngIf="error$ | async; else loadingNoError">
                                        <div class="row justify-content-center text-danger">
                                            <p>Error ao carregar bandeiras. Tente novamente mais tarde.</p>
                                        </div>
                                    </div>
                                    <ng-template #loadingNoError>
                                        <div class="text-center">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Carregando...
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </div>
                            <div class="tab-pane" id="adicionar">
                                <div class="card-body">
                                    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <app-input-field formControlName="nome" label="Nome" uniqueFiled="true"
                                                    [control]="formulario.get('nome')">
                                                </app-input-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Bandeira</mat-label>
                                                    <mat-select formControlName="bandeiraSelect">
                                                        <mat-option *ngFor="let bandeira of bandeiras$ | async" [value]="bandeira.id">{{ bandeira.nome }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <app-input-field formControlName="bandeira" label="Bandeira" uniqueFiled="true"
                                                    [control]="formulario.get('bandeira')">
                                                </app-input-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-checkbox formControlName="novaBandeira" (click)="disableFields()" >Nova Bandeira</mat-checkbox>
                                            </div>
                                        </div>
                                        <button *ngIf="!submitte" mat-raised-button appearance="outline" type="submit"
                                            class="btn btn-info pull-right">Salvar</button>
                                        <button *ngIf="submitte" type="button" class="btn btn-info pull-right" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Salvando
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de aviso -->
<app-modal-aviso (confimaModal)="confirmModal($event)"></app-modal-aviso>
