<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#cartoes" data-toggle="tab">
                                            <i class="material-icons">filter_none</i> Cartões
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#bandeiras" data-toggle="tab">
                                            <i class="material-icons">flag</i> Bandeiras
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#adicionar" data-toggle="tab">
                                            <i class="material-icons">library_add</i> Adicionar
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="cartoes">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Bandeira</th>
                                            <th>Faturas</th>
                                            <th>Status</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr [routerLink]="['/cartoes/1']">
                                                <td>1</td>
                                                <td>Master</td>
                                                <td>Mastercard</td>
                                                <td>3</td>
                                                <td>Ativo</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr [routerLink]="['/cartoes/1']">
                                                <td>2</td>
                                                <td>Nubank</td>
                                                <td>Mastercard</td>
                                                <td>3</td>
                                                <td>Ativo</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr [routerLink]="['/cartoes/1']">
                                                <td>3</td>
                                                <td>Digio</td>
                                                <td>Visa</td>
                                                <td>3</td>
                                                <td>Ativo</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="bandeiras">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr [routerLink]="['/cartoes/1']">
                                                <td>1</td>
                                                <td>Mastercard</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr [routerLink]="['/cartoes/1']">
                                                <td>2</td>
                                                <td>Visa</td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="adicionar">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Nome</mat-label>
                                                    <input matInput placeholder="Nome">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Bandeira</mat-label>
                                                    <input matInput placeholder="Bandeira"
                                                        [disabled]="!disableSelect.value">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                           
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Bandeira</mat-label>
                                                    <mat-select [disabled]="disableSelect.value">
                                                        <mat-option value="option1">Master</mat-option>
                                                        <mat-option value="option3">Visa</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <mat-checkbox [formControl]="disableSelect">Nova Bandeira
                                                    </mat-checkbox>
                                                </p>
                                            </div>
                                        </div>
                                        <button mat-raised-button appearance="outline" type="submit"
                                            class="btn btn-info pull-right">Salvar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>