<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title mt-0"> Contas de Janeiro de 2020 </h4>
                        <p class="card-category"> Lista de pagamentos </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>Comprador</th>
                                    <th>Total</th>
                                    <th>Pago</th>
                                    <th>Restante</th>
                                    <th>Ação</th>
                                    <th>Cartões</th>
                                </thead>
                                <tbody>
                                    <tr id="accordion">
                                        <td>
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Thiago
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                R$ 1484,12,00
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                R$ 978,26,00
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                R$ 505,86
                                            </button>
                                        </td>
                                        <td class="text-primary">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                matTooltipPosition="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">local_offer</i>
                                            </button>
                                        </td>
                                        <td>
                                            <div id="collapseOne" class="collapse show"
                                                data-parent="#accordion">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    3
                                                </button>
                                            </div>
                                            <div id="collapseOne" class="collapse"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    <table class="table table-hover">
                                                        <thead class="">
                                                            <th>
                                                                Nome
                                                            </th>
                                                            <th>
                                                                Total
                                                            </th>
                                                            <th>
                                                                Pago
                                                            </th>
                                                            <th>
                                                                Restante
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    Nubank
                                                                </td>
                                                                <td>
                                                                    R$ 405,86
                                                                </td>
                                                                <td>
                                                                    R$ 0,00
                                                                </td>
                                                                <td>
                                                                    R$ 405,86
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Digio
                                                                </td>
                                                                <td>
                                                                    R$ 128,77
                                                                </td>
                                                                <td>
                                                                    R$ 128,77
                                                                </td>
                                                                <td>
                                                                    R$ 0,0
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Master
                                                                </td>
                                                                <td>
                                                                    R$ 949,49
                                                                </td>
                                                                <td>
                                                                    R$ 849,49
                                                                </td>
                                                                <td>
                                                                    R$ 100,00
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p>Total Contas: </p>
                            <p>Total Recebio: </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
