<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Contas de Janeiro de 2020 </h4>
                        <p class="card-category"> Lista de pagamentos </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Comprador
                                    </th>
                                    <th>
                                        Master
                                    </th>
                                    <th>
                                        Nubank
                                    </th>
                                    <th>
                                        Digio
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Pago
                                    </th>
                                    <th>
                                        Restante
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Thiago
                                        </td>
                                        <td>
                                            0,00
                                        </td>
                                        <td>
                                            R$ 405,86
                                        </td>
                                        <td>
                                            R$ 0,00
                                        </td>
                                        <td>
                                            R$ 405,86
                                        </td>
                                        <td>
                                            R$ 0,00
                                        </td>
                                        <td>
                                            R$ 405,86
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Gilson
                                        </td>
                                        <td>
                                            R$ 74,87
                                        </td>
                                        <td>
                                            R$ 53,90
                                        </td>
                                        <td>
                                            R$ 0,00
                                        </td>
                                        <td>
                                            R$ 128,77
                                        </td>
                                        <td>
                                            R$ 128,77
                                        </td>
                                        <td>
                                            R$ 0,0
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Joseilton
                                        </td>
                                        <td>
                                            R$ 228,25
                                        </td>
                                        <td>
                                            R$ 0,00
                                        </td>
                                        <td>
                                            R$ 721,24
                                        </td>
                                        <td>
                                            R$ 949,49
                                        </td>
                                        <td>
                                            R$ 849,49
                                        </td>
                                        <td>
                                            R$ 100,00
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p>Total Contas: </p>
                            <p>Total Recebio: </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>