<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Total gasto ate o momento</p>
                        <h3 class="card-title">R$ 806,86</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Valores apenas para o ano de 2020
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">description</i>
                        </div>
                        <p class="card-category">Faturas Cadastradas</p>
                        <h3 class="card-title">3</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Atualizado
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#faturas" data-toggle="tab">
                                            <i class="material-icons">picture_as_pdf</i> Faturas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#adicionar" data-toggle="tab">
                                            <i class="material-icons">library_add</i> Adicionar
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="faturas">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class=" text-primary">
                                            <th>
                                                Referêcia
                                            </th>
                                            <th>
                                                Vencimento
                                            </th>
                                            <th>
                                                Valor
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th class="text-center">
                                                Lancamentos
                                            </th>
                                            <th>
                                                Ação
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr [routerLink]="['/cartoes/1/faturas/1']">
                                                <td>
                                                    Janeiro/2020
                                                </td>
                                                <td>
                                                    01/02/2020
                                                </td>
                                                <td>
                                                    R$ 98,89
                                                </td>
                                                <td>
                                                    Fechada
                                                </td>
                                                <td class="text-center">
                                                    17
                                                </td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr [routerLink]="['/cartoes/1/faturas/1']">
                                                <td>
                                                    Fevereiro/2020
                                                </td>
                                                <td>
                                                    01/03/2020
                                                </td>
                                                <td>
                                                    R$ 153,43
                                                </td>
                                                <td>
                                                    Aberta
                                                </td>
                                                <td class="text-center">
                                                    5
                                                </td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr [routerLink]="['/cartoes/1/faturas/1']">
                                                <td>
                                                    Março/2020
                                                </td>
                                                <td>
                                                    01/04/2020
                                                </td>
                                                <td>
                                                    R$ 554,54
                                                </td>
                                                <td>
                                                    Futura
                                                </td>
                                                <td class="text-center">
                                                    8
                                                </td>
                                                <td class="text-primary">
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button mat-raised-button type="button"
                                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="adicionar">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Vencimento</mat-label>
                                                    <input matInput [matDatepicker]="dp3" disabled>
                                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Mês de Referência</mat-label>
                                                    <mat-select>
                                                        <mat-option value="option1">Janeiro</mat-option>
                                                        <mat-option value="option3">Fevereiro</mat-option>
                                                        <mat-option value="option3">...</mat-option>
                                                        <mat-option value="option3">Dezembro</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field appearance="outline" class="example-full-width">
                                                    <mat-label>Observação</mat-label>
                                                    <textarea matInput placeholder="Observação"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button appearance="outline" type="submit"
                                            class="btn btn-info pull-right">Salvar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
