<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Total a receber</p>
                        <h3 class="card-title">{{ totalDividas | currency:'BRL' }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Atualizado
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Total de pagamentos</p>
                        <h3 class="card-title">{{ totalPagamentos | currency:'BRL' }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Atualizado
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-info">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#devedores" data-toggle="tab">
                                            <i class="material-icons">swap_vert</i> Devedores
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#dividas" data-toggle="tab">
                                            <i class="material-icons">attach_money</i> Dividas Ativas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#oldDividas" data-toggle="tab">
                                            <i class="material-icons">history</i> Histórico
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#adicionar" data-toggle="tab">
                                            <i class="material-icons">library_add</i> Adicionar
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="devedores">
                                <div class="table-responsive"
                                    *ngIf="devedores$ | async as devedores; else loadingDevedores">
                                    <div *ngIf="devedores.length > 0">
                                        <table class="table table-hover">
                                            <thead class=" text-primary">
                                                <th>Comprador</th>
                                                <th>Dividas Totais</th>
                                                <th>Pagamentos</th>
                                                <th>Creditos</th>
                                                <th>Restante</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let devedor of devedores">
                                                    <td>{{ devedor.nome }}</td>
                                                    <td>{{ devedor.totalDividas | currency:'BRL' }}</td>
                                                    <td>{{ devedor.totalPagamentos | currency:'BRL' }}</td>
                                                    <td>{{ devedor.totalCreditos | currency:'BRL' }}</td>
                                                    <td>{{ (devedor.totalDividas - devedor.totalPagamentos)  | currency:'BRL' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator [length]="lengthDevedores" [pageSize]="pageSizeDevedores"
                                            [pageIndex]="pageIndexDevedores - 1" [pageSizeOptions]="[5, 10, 25, 100]"
                                            (page)="changeListDevedores($event)">
                                        </mat-paginator>
                                    </div>
                                    <div *ngIf="devedores.length < 1">
                                        <app-notification-state tipo='warning' msg='Nenhum devedor disponivel.'>
                                        </app-notification-state>
                                    </div>
                                </div>
                                <ng-template #loadingDevedores>
                                    <div *ngIf="errorDevedores$ | async; else loadingNoError">
                                        <app-notification-state tipo='danger' msg='Ocorreu um erro ao buscar informações dos devedores no
                                        servidor.'></app-notification-state>
                                    </div>
                                    <ng-template #loadingNoError>
                                        <div class="text-center">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Carregando...
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </div>
                            <div class="tab-pane" id="dividas">
                                <div class="table-responsive"
                                    *ngIf="dividasAtivas$ | async as dividas; else loadingDividasAtivas">
                                    <div *ngIf="dividas.length > 0">
                                        <table class="table table-hover">
                                            <thead class=" text-primary">
                                                <th>Descrição</th>
                                                <th>Valor Total</th>
                                                <th>Valor Pago</th>
                                                <th>Tipo</th>
                                                <th>Comprador</th>
                                                <th>Status</th>
                                                <th>Ação</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let divida of dividas">
                                                    <td>{{ divida.descricao }}</td>
                                                    <td>{{ divida.valorDivida | currency:'BRL' }}</td>
                                                    <td>{{ divida.totalPagamentos | currency:'BRL' }}</td>
                                                    <td>
                                                        <i *ngIf="divida.faturaId" matTooltip="Fatura"
                                                            matTooltipPosition="above"
                                                            class="material-icons">receipt_long</i>
                                                        <i *ngIf="!divida.faturaId" matTooltip="Dinhero"
                                                            matTooltipPosition="above"
                                                            class="material-icons">monetization_on</i>
                                                    </td>
                                                    <td>{{ divida.compradorNome }}</td>
                                                    <td>
                                                        <button type="button" matTooltip="Pagar"
                                                            matTooltipPosition="above"
                                                            (click)="onSelectedEntity(divida)" data-toggle="modal"
                                                            data-target="#modalPagamentoDivida"
                                                            class="btn btn-warning btn-sm">Ativa</button>
                                                    </td>
                                                    <td class="text-primary">
                                                        <button mat-raised-button type="button" matTooltip="Detalhes"
                                                            matTooltipPosition="above" data-toggle="modal"
                                                            data-target="#detalhesModalDivida"
                                                            (click)="onSelectedEntity(divida)"
                                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">description</i>
                                                        </button>
                                                        <button mat-raised-button type="button" matTooltip="Editar"
                                                            matTooltipPosition="above"
                                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button mat-raised-button type="button" matTooltip="Excluir"
                                                            matTooltipPosition="above"
                                                            (click)="onSelectedEntity(divida)" data-toggle="modal"
                                                            data-target="#modalExcluirDivida"
                                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator [length]="lengthDividasAtivas" [pageSize]="pageSizeDividasAtivas"
                                            [pageSizeOptions]="[5, 10, 25, 100]"
                                            (page)="changeListDividasAtivas($event)">
                                        </mat-paginator>
                                    </div>
                                    <div *ngIf="dividas.length < 1">
                                        <app-notification-state tipo='warning' msg='Nenhuma divida disponivel.'>
                                        </app-notification-state>
                                    </div>
                                </div>
                                <ng-template #loadingDividasAtivas>
                                    <div *ngIf="errorDividasAtivas$ | async; else loadingNoError">
                                        <app-notification-state tipo='danger' msg='Ocorreu um erro ao buscar informações das dividas no
                                        servidor.'></app-notification-state>
                                    </div>
                                    <ng-template #loadingNoError>
                                        <div class="text-center">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Carregando...
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </div>
                            <div class="tab-pane" id="oldDividas">
                                <div class="table-responsive"
                                    *ngIf="dividasOlds$ | async as dividasOlds; else loadingDividasOlds">
                                    <div *ngIf="dividasOlds.length > 0">
                                        <table class="table table-hover">
                                            <thead class=" text-primary">
                                                <th>Descrição</th>
                                                <th>Valor Total</th>
                                                <th>Valor Pago</th>
                                                <th>Tipo</th>
                                                <th>Data da Divida</th>
                                                <th>Comprador</th>
                                                <th>Status</th>
                                                <th>Ação</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let divida of dividasOlds">
                                                    <td>{{ divida.descricao }}</td>
                                                    <td>{{ divida.valorDivida | currency:'BRL' }}</td>
                                                    <td>{{ divida.totalPagamentos | currency:'BRL' }}</td>
                                                    <td>
                                                        <i *ngIf="divida.faturaId"
                                                            class="material-icons">receipt_long</i>
                                                        <i *ngIf="!divida.faturaId"
                                                            class="material-icons">monetization_on</i>
                                                    </td>
                                                    <td>{{ divida.dataDivida | date:'dd/MM/yyyy' }}</td>
                                                    <td>{{ divida.compradorNome }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btn-sm"
                                                            disabled>Paga</button>
                                                    </td>
                                                    <td>
                                                        <button mat-raised-button type="button" matTooltip="Detalhes"
                                                            matTooltipPosition="above" data-toggle="modal"
                                                            data-target="#detalhesModalDivida"
                                                            (click)="onSelectedEntity(divida)"
                                                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">description</i>
                                                        </button>
                                                        <button mat-raised-button type="button" matTooltip="Excluir"
                                                            matTooltipPosition="above"
                                                            (click)="onSelectedEntity(divida)" data-toggle="modal"
                                                            data-target="#modalExcluirDivida"
                                                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator [length]="lengthDividasOlds" [pageSize]="pageSizeDividasOlds"
                                            [pageSizeOptions]="[5, 10, 25, 100]" (page)="changeListDividasOlds($event)">
                                        </mat-paginator>
                                    </div>
                                    <div *ngIf="dividasOlds.length < 1">
                                        <app-notification-state tipo='warning' msg='Nenhuma histórico disponivel.'>
                                        </app-notification-state>
                                    </div>
                                </div>
                                <ng-template #loadingDividasOlds>
                                    <div *ngIf="errorDividasOlds$ | async; else loadingNoError">
                                        <app-notification-state tipo='danger' msg='Ocorreu um erro ao buscar informações do histórico no
                                        servidor.'></app-notification-state>
                                    </div>
                                    <ng-template #loadingNoError>
                                        <div class="text-center">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Carregando...
                                        </div>
                                    </ng-template>
                                </ng-template>
                            </div>
                            <div class="tab-pane" id="adicionar">
                                <div class="card-body">
                                    <form *ngIf="showForm" [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
                                        <div class="row">
                                            <!-- Valor Input -->
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Valor</mat-label>
                                                    <input matInput mask="separator.2" thousandSeparator="."
                                                        prefix="R$ " formControlName="valor">
                                                    <mat-icon matSuffix class="text-danger"
                                                        *ngIf="verificarValidControl('valor')">error</mat-icon>
                                                    <mat-icon matSuffix class="text-success"
                                                        *ngIf="verificarValidControlSuccess('valor')">done</mat-icon>
                                                    <mat-hint>
                                                        <div class="text-danger" *ngIf="verificarValidControl('valor')">
                                                            {{ errorMessage('valor', 'Valor') }}
                                                        </div>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                            <!-- Data da Divida Data Picker -->
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Data da Divida</mat-label>
                                                    <input matInput [matDatepicker]="dp3" formControlName="dataDivida">
                                                    <mat-datepicker-toggle matSuffix [for]="dp3">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <!-- Comprador Select -->
                                            <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Comprador</mat-label>
                                                    <mat-select formControlName="compradorId">
                                                        <mat-option *ngFor="let comprador of compradoresSelect"
                                                            [value]="comprador.id">{{ comprador.nome }}</mat-option>
                                                    </mat-select>
                                                    <mat-icon matSuffix class="text-danger"
                                                        *ngIf="verificarValidControl('compradorId')">error</mat-icon>
                                                    <mat-icon matSuffix class="text-success"
                                                        *ngIf="verificarValidControlSuccess('compradorId')">done
                                                    </mat-icon>
                                                    <mat-hint>
                                                        <div class="text-danger"
                                                            *ngIf="verificarValidControl('compradorId')">
                                                            {{ errorMessage('compradorId', 'Comprador') }}
                                                        </div>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Descricao Input -->
                                            <div class="col-md-12">
                                                <app-input-field formControlName="descricao" label="Descrição"
                                                    maxLengthInput="20" [control]="formulario.get('descricao')">
                                                </app-input-field>
                                            </div>
                                        </div>
                                        <button *ngIf="!submitte" type="submit"
                                            class="btn btn-info pull-right">Salvar</button>
                                        <button *ngIf="submitte" type="button" class="btn btn-info pull-right" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                            Salvando
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de aviso excluir -->
<app-modal-aviso identificador="modalExcluirDivida" (confimaModal)="onDelete($event)"></app-modal-aviso>

<!-- Modal de detalhes do Divida -->
<app-modal-divida [divida]="entitySelecionada"></app-modal-divida>

<!-- Modal de pagamentos -->
<app-modal-pagamento identificador="modalPagamentoDivida" (realizaPagamento)="onRefreshList($event)"
    [divida]="entitySelecionada"></app-modal-pagamento>
